@use "sass:math";

@import 'normalize.css';
@import './vars.scss';
@import './mixins.scss';

$icon-translate: math.div($width-checkbox-icon, 5);

button {
  border: 1px solid $color-btn-border;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    opacity: 0.95;
  }
  &:focus {
    opacity: 0.75;
  }
}
button + button {
  margin-left: 4px;
}

.icon-check {
  transition: border-color 0.3s ease-in;
  flex: none;
  top: 0;
  left: 0;
  width: $width-checkbox-icon;
  height: $width-checkbox-icon;
  margin-right: 10px;
  border: $width-checkbox-icon-border solid;
  border-radius: 100%;
  cursor: pointer;
  @include flex-center();

  &:before {
    transition: opacity 0.3s ease-in;
    content: '';
    width: $width-checkbox-icon * 0.6;
    height: $width-checkbox-icon * 0.3;
    border-left: 1px solid $color-checked;
    border-bottom: 1px solid $color-checked;
    transform: rotate(-45deg) translateX($icon-translate);
  }
  &.uncheck {
    border-color: $color-uncheck;
    &:before {
      opacity: 0;
    }
  }
  &.checked {
    border-color: $color-checked;
    &:before {
      opacity: 1;
    }
  }
}
