@import "normalize.css";
@import './vars.scss';

button {
  border: 1px solid $color-btn-border;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    opacity: 0.95;
  }
  &:focus {
    opacity: 0.75;
  }
}
button+button {
  margin-left: 4px;
}