$color-font-title: rgba(0 0 0 / 85%);
$color-font: rgba(0 0 0 / 65%);
$color-font-label: rgba(0 0 0 / 45%);

$color-checked: #99CC66;
$color-uncheck: #cccccc;

$color-delete: #FF6666;

$color-btn-border: #666;

$width-checkbox-icon: 30px;
$width-checkbox-icon-border: 1px;