@use "sass:math";

@import 'Src/styles/vars.scss';
@import 'Src/styles/mixins.scss';

.todo {
  display: flex;
  margin: 20px 0;
}
.todo + .todo {
  margin-top: 8px;
}

.content_wrapper {
  flex: auto;
  display: flex;
  border-bottom: 1px solid #eee;
}

.icon_delete {
  flex: none;
  margin-left: 10px;
  width: $width-checkbox-icon;
  height: $width-checkbox-icon;
  visibility: hidden;
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    display: block;
    background-color: $color-delete;
    position: absolute;
    transform: rotate(45deg);
  }
  &:before {
    width: 90%;
    height: 1px;
    top: 50%;
    left: 5%;
    margin-top: -0.5px;
  }
  &:after {
    width: 1px;
    height: 90%;
    top: 5%;
    left: 50%;
    margin-left: -0.5px;
  }
}

.content_wrapper:hover .icon_delete:not(.disabled) {
  visibility: visible;
}
