@use "sass:math";

@import 'Src/styles/vars.scss';
@import 'Src/styles/mixins.scss';

$icon-translate: math.div($width-select-icon, 5);

.todo {
  display: flex;
  margin: 20px 0;
}
.todo + .todo {
  margin-top: 8px;
}

.check {
  transition: border-color 0.3s ease-in;
  flex: none;
  top: 0;
  left: 0;
  width: $width-select-icon;
  height: $width-select-icon;
  margin-right: 10px;
  border: $width-select-icon-border solid;
  border-radius: 100%;
  cursor: pointer;
  @include flex-center();

  &:before {
    transition: opacity 0.3s ease-in;
    content: '';
    width: $width-select-icon * 0.6;
    height: $width-select-icon * 0.3;
    border-left: 1px solid $color-checked;
    border-bottom: 1px solid $color-checked;
    transform: rotate(-45deg) translateX($icon-translate);
  }
  &.uncheck {
    border-color: $color-uncheck;
    &:before {
      opacity: 0;
    }
  }
  &.checked {
    border-color: $color-checked;
    &:before {
      opacity: 1;
    }
  }
}

.content_wrapper {
  flex: auto;
  display: flex;
  border-bottom: 1px solid #eee;
}

.icon_delete {
  flex: none;
  margin-left: 10px;
  width: $width-select-icon;
  height: $width-select-icon;
  visibility: hidden;
  position: relative;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    display: block;
    background-color: $color-delete;
    position: absolute;
    transform: rotate(45deg);
  }
  &:before {
    width: 90%;
    height: 1px;
    top: 50%;
    left: 5%;
    margin-top: -0.5px;
  }
  &:after {
    width: 1px;
    height: 90%;
    top: 5%;
    left: 50%;
    margin-left: -0.5px;
  }
}

.content_wrapper:hover .icon_delete:not(.disabled) {
  visibility: visible;
}
