@import "Src/styles/mixins.scss";

.todo_group {
  height: 100%;
  overflow-y: auto;
  @include flex(column);
}

.list, .actions {
  width: 100%;
}

.list {
  flex: auto;
}

.actions {
  @include flex-center(row, space-between);
}
.actions_btns {
  flex: auto;
  text-align: center;
}